<div class="card card-body record-card border border-light">
  <!--filter-->
  <div class="d-flex">
    <!--monthly filter-->
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        月份
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!--sort filter-->
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        類別
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each categories}}
        <li><a class="dropdown-item" href="#">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>

  <!--data panel-->
  <section class="data-panel">

    <div class="row d-flex amount-graph-display">
      <!-- total amount & graph -->
      <div class="col-12 amount-display">
        <span class="fs-3">總金額：</span>
        <p class="total-amount">{{totalAmount}}</p>
      </div>
    </div>


    <!-- detail -->
    <div class="row expense-display">
      {{#each records}}
      <li class="list-group-item d-flex list-group-item-light rounded mb-1">
        <div class="col-8 d-flex expenses">
          {{#each this.category_doc}}
          <div class="icon-section">
            <i class="{{this.icon}} mx-auto"></i>
          </div>
          <div class="record-time-section d-flex  flex-column">
            <span class="category-name">{{../this.name}}</span>
            <span class="record-time">{{../this.date}}</span>
          </div>
          </i>
          {{/each}}
        </div>
        <div class="col-4 d-flex justify-content-end edit-delete">
          <a type="button edit-button" class="btn btn-outline-success my-auto" href="./records/{{ this._id }}/edit"><i
              class="fas fa-edit"></i>
            編輯</a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger mt-2"><i class="fa fa-trash" aria-hidden="true"></i>
              刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </div>

    <div class="d-grid gap-2 mt-3 col-3 mx-auto">
      <a type="button" class="btn btn-warning" href="./records/create">
        新增支出</a>
    </div>

  </section>
</div>